<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>

    <%- include('./partials/nav.ejs')%>

    <div class="about content">
        <h2>About us </h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi perspiciatis nesciunt itaque molestias, blanditiis aspernatur, rem quis nemo totam neque doloribus ipsam iste nisi numquam harum voluptas labore, ipsum velit.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima dignissimos dolor perspiciatis molestias deleniti! Aut quidem itaque ad mollitia a distinctio, quae ea aliquam accusamus, modi sint, odio dolore repellat?</p>
    </div>

    <%- include('./partials/footer.ejs')%>
</body>
</html>